<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vindex Application</title>
</head>
<body>
    <div id='root'>{{htmlData}}</div>
    <script>
        window.REDUX_STATE = {{{storeData}}};
    </script>
    <script src="/bundle.js"></script>
</body>
</html>